<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <h2>Add a new user to the table</h2>
    <form method="post" action="/users">
        <input type="text" name="username" placeholder="enter username">
        <input type="text" name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="enter password">
        <button>Add User</button>
    </form>
</body>

</html>