<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <form method="post" action="/tweets">
        <input placeholder="enter username" name="username" class="user">
        <br><br>
        <textarea placeholder="your tweet" name="myTweet"></textarea>
        <br><br>
        <button>Submit</button>
    </form>
</body>

</html>